.pfx-dropdown {
    -fx-background-color: -pfx-primary;
    -fx-border-width: 0;
    -fx-background-radius: 6;
    -fx-border-style: none;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0, 0.0, 0.0);*/


    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}